#bois {
    color: rgb(196, 205, 174);
}
#cascades {
    color: rgb(169, 187, 197);
}
#clairière {
    color: rgb(226, 205, 152);
}
#plateau {
    color: rgb(218, 174, 161);
}
#belvédère {
    color: rgb(193, 180, 172);
}
#bergerie {
    color: rgb(185, 211, 202);
}
#encloscascades {
    color: rgb(201, 210, 215);
}
#enclosclairière {
    color: rgb(237, 221, 172);
}
#enclosplateau {
    color: rgb(230, 203, 192);
}
#enclosbelvédère {
    color: rgb(215, 205, 193);
}
#enclosbois {
    color: rgb(218, 221, 190);
}
.resize-img {
    max-width: 50%; 
    height: auto; 
  }
  